/*=================================*/
/*Seção de livros em alta da semana*/
/*=================================*/
.most-read-week {
  background-color: #3b3d3b;
  height: 55vh;
}

.most-read-week-titles {
  color: #98b4aa;
  text-align: center;
  padding: 14px 0 14px 0;
}

.most-read-week-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 190px);
  grid-gap: 10px;
  justify-content: center;
}

.most-read-week-container img {
  height: 240px;
  margin-bottom: 10px;
  width: 190px;
}

.most-read-week-container-book a {
  display: block;
  text-decoration: none;
  color: #98b4aa;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.more {
  display: flex;
  justify-content: flex-end;

  padding: 0 5px 20px 0;
}

.more .btn {
  background-image: -webkit-linear-gradient(
    45deg,
    #98b4aa 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, #98b4aa 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  border: 1px solid #98b4aa;
  border-radius: 3px;
  cursor: pointer;
  color: #98b4aa;
  font-weight: bold;
  padding: 5px;
  transition: background 300ms ease-in-out;
  text-decoration: none;
  -webkit-transition: background 300ms ease-in-out;
}

.more .btn:hover {
  background-position: 0;
  border: 1px solid #121212;
  color: #121212;
}
/*================================*/
